#crearPregunta {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: $body-font;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        margin-bottom: 10px;
        
        color: $main-color;
        .section {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            width: 90%;
            margin: 10px;
            padding: 10px;
            box-sizing: border-box;
            
            .opcionesCategorias {
                display: flex;
                flex-direction: column;
                color: $secondary-color;
            }
            .respuestas {
                display: flex;
                flex-direction: column;
                color: $secondary-color;
            }
            .seleccionRespuestas {
                display: flex;
                flex-direction: column;
                color: $secondary-color;    
            }
            select {
                width: 600px;
                height: 40px;
                padding: 5px;
                margin: 5px;
            
                border-radius: 5px;
                box-sizing: border-box;
            
                font: $body-font;
            }
            input {
                width: 600px;
                height: 40px;
                padding: 5px;
                margin: 5px;
                box-sizing: border-box;
            
                border-radius: 5px;
                box-shadow: 0;
            
                font: $banner-font;
            }
            .button_1 {
                color: $main-color;
                background-color: $secondary-color;
                width: 20%;
                font: $banner-font;
            }
        }
    }

}