h1 {
    font-family: $main-font;
    color: $main-color;
    font-size: 34px;
    line-height: 38px;
    margin: 0px;
}

h2 {
    font-family: $secondary-font;
    color: $secondary-color;
    font-size: 24px;
    line-height: 28px;
    margin: 10px;
}

.crear-pregunta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    margin-bottom: 10px;
    color: $main-color;
}

.crear-pregunta-parcial {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    color: $main-color;
}

.crear-pregunta-opciones {
    background-color: $background-inputs;
}

.respuestas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    box-sizing: border-box;
    border-radius: 20px;
    color: $secondary-color;
}

input {
    width: 600px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    background-color: $background-inputs;
    border-radius: 5px;
    box-shadow: 0;
    font: $secondary-font;
}

select {
    width: 600px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    font: $secondary-font;
}