
body {
  background-color: aliceblue;
  font-family: $main-font;
}

a {
  text-decoration:none;
  color:brown;
  transition:.5s ease;
  &:hover {
    color:grey;
  }
}

.form {
  background-color:rgb(187, 187, 187);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  box-shadow:0 4px 10px 4px;
}

.optiongroup {
  display:flex;
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  .option {
    width:20%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background-color: pink;
    color:grey;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:grey;
      color:white;
    }
  }
  .active a {
    background-color: grey;
    color: white;
  }
}

.formcontainer > div:last-child {
  display:none;
}


h1 {
  text-align:center;
  color:white;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:white;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:greenyellow;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background-color: pink;
  border:1px solid grey;
  color:white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
  }
}

textarea {
  border:2px solid;
}

.completinput {
  position:relative;
  margin-bottom:40px;
}

.toprow {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  letter-spacing:.1em;
  background-color: aqua;
  color:white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background-color:grey
  }
}

.buttonbutton {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}