#rankings {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    h1 {
        font-family: $title-font;
        text-align: center;
    }
    p {
        margin: 10px;
        color: $secondary-color;
    }
    .container {
        width: 100%;
        display: flex; 
        flex-direction: column;
        padding: 0;
        text-align: center;
        font-family: $body-font;
        color: $main-color;
        .usuarios {
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 20px;
            background-image: $background-color;
            .opciones-usuarios {
                width: auto;
                display: flex;
                flex-direction: column;
                color: $main-color;
                .doble {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    @media (max-width: 750px) {
                        flex-direction: column;
                        align-items: center;
                    }
                    .puntajes-generales {
                        width: 220px;
                        margin-right: 100px;
                        @media (max-width: 750px) {
                            margin: 0;
                        } 
                    }
                    .puntajes-generales:hover {
                        cursor: pointer;
                        color: $secondary-color;
                        background-color: white;
                        border-radius: 20px;
                        transition: 0.5s;
                    }
                    .competencias-ganadas {
                        width: 220px;
                        margin-left: 100px;
                        @media (max-width: 750px) {
                            margin: 0;
                        }
                    }
                    .competencias-ganadas:hover {
                        cursor: pointer;
                        color: $secondary-color;
                        background-color: white;
                        border-radius: 20px;
                        transition: 0.5s;
                    }
                }
                .puntajes-categorias {
                    width: auto;
                }
                .puntajes-categorias:hover {
                    cursor: pointer;
                    color: $secondary-color;
                    background-color: white;
                    border-radius: 20px;
                    transition: 0.5s;
                }
            }
        }
        .categorias {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            height: 360px;
            margin-top: 20px;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 20px;
            color: $main-color;
            background-image: $background-color;
            @media (max-width: 750px) {
                height: auto;
            }
            .opciones-categorias {
                width: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: center;
                color: $main-color;
                @media (max-width: 750px) {
                    flex-direction: column;
                    align-items: center;
                }
                .cantidad-preguntas {
                    width: 220px;
                    display: flex;
                    flex-direction: column;
                    margin-right: 100px;
                    @media (max-width: 750px) {
                        margin: 0;
                    }
                }
                .cantidad-preguntas:hover {
                    cursor: pointer;
                    color: $secondary-color;
                    background-color: white;
                    border-radius: 20px;
                    transition: 0.5s;
                }
                .votos-categorias {
                    width: 220px;
                    display: flex;
                    flex-direction: column;
                    margin-left: 100px;
                    @media (max-width: 750px) {
                        margin: 0;
                    }
                }
                .votos-categorias:hover {
                    cursor: pointer;
                    color: $secondary-color;
                    background-color: white;
                    border-radius: 20px;
                    transition: 0.5s;
                }
            }            
        }
        .desafios {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            height: 360px;
            margin-top: 20px;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 20px;
            color: $main-color;
            background-image: $background-color;
            @media (max-width: 750px) {
                height: auto;
            }
            .opciones-desafios {
                width: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: center;
                color: $main-color;
                @media (max-width: 750px) {
                    flex-direction: column;
                    align-items: center;
                }
                .mas-votados {
                    width: 220px;
                    display: flex;
                    flex-direction: column;
                    @media (max-width: 750px) {
                        margin: 0;
                    }
                }
                .mas-votados:hover {
                    cursor: pointer;
                    color: $secondary-color;
                    background-color: white;
                    border-radius: 20px;
                    transition: 0.5s;
                }
                .mas-jugados {
                    width: 220px;
                    display: flex;
                    flex-direction: column;
                    @media (max-width: 750px) {
                        margin: 0;
                    }
                }
                .mas-jugados:hover {
                    cursor: pointer;
                    color: $secondary-color;
                    background-color: white;
                    border-radius: 20px;
                    transition: 0.5s;
                }
                .mas-nuevos {
                    width: 220px;
                    display: flex;
                    flex-direction: column;
                    @media (max-width: 750px) {
                        margin: 0;
                    }
                }
                .mas-nuevos:hover {
                    cursor: pointer;
                    color: $secondary-color;
                    background-color: white;
                    border-radius: 20px;
                    transition: 0.5s;
                }
            }            
        }
    }
}



//#rankingPuntajes #rankingCategorias #rankingCompetencias #rankingPreguntas #rankingCatVotadas #rankingVotados #rankingJugados #rankingNuevos {