// colores
$main-color: #504e4e;
$secondary-color: #4f81aa;
$background-inputs: linear-gradient(0deg,#FFCCCC ,#CCFFFF);


// fuentes
$banner-font: 'Heebo', sans-serif;
$main-font: 'Raleway', sans-serif;
$body-font: 'Open Sans Condensed', sans-serif;

