// colores
$main-color: rgb(85, 212, 153);
$secondary-color: rgb(134, 4, 151);
$background-inputs: rgb(222, 197, 228);
$white-color: #ffffff;


// Colores page Juego
$border-color-jg: #c652da;
$box-shadow-jg: #c9c9c9;
$background-title-jg: #f14b5b;
$font-color-tljg: #fceae3;
$background-color-btnjg: #1b4d5e;


// fuentes
$main-font: "verdana";
$secondary-font: "lucida sans";
$font-juego: "Karla";
